.tickets {
  display: flex;

  &__list {
    height: calc(100vh - #{$headerHeight});
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    background: $gray;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    > .ticket {
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: $grayLight;
      border-bottom: 1px solid $gray;
      padding: .5rem;
      cursor: pointer;

      &:hover {
        background: lighten( $grayLight, 5% );
      }

      &.active {
        background: $light;
        pointer-events: none;
      }

      &.sub {
        border-left: 20px solid $gray;
      }

      > h1 {
        font-size: 19px;
        text-transform: uppercase;
        margin: 0;
      }
      
      .ids {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        
        > span {
          font-size: 15px;
        }
        
        > small {
          font-size: 12px;
        }
      }

      .stat {
        margin-top: auto;
      }
    }
  }
  
  &__detail {
    flex: 1;

    .wrapper {
      display: none;
      flex-direction: column;

      > section {
        padding: 20px;

        + section {
          border-top: 1px solid $gray;
        }
      }
    }
    
    &.active {
      .wrapper {
        display: flex;
      }
    }
  }

  .detail {
    &__header {
      h1 {
        display: inline-block;
        font-size: 26px;
        line-height: 28px;
        text-transform: uppercase;
        margin-right: 2px;
      }

      span {
        line-height: 28px;
        margin-left: 10px;
      }
    }

    &__info {
      > div {
        display: flex;

        > p {
          margin: 0 10px 0 0;

          > label {
            margin-right: 4px;
          }
          
          > span {
            margin-right: 14px;
          }
        }
      }
    }
  }

  .status {
    font-weight: 500;
    text-transform: capitalize;

    &.sin-asignar {
      color: #A675CD;
    }

    &.por-realizar {
      color: #D9A404;
    }

    &.en-proceso {
      color: #448FF2;
    }

    &.finalizado {
      color: #1BBF91;
    }

    &.cancelado {
      color: #FF2D00;
    }

    &.en-espera {
      color: #dd6000;
    }
  }
}