$dark: #0D0D0D;
$light: #F2F2F2;
$grayLight: #D4D4D4;
$gray: #737373;
$blue: #18608C;
$blue-dark: #18568C;
$headerHeight: 56px;
$sidebarWidth: 200px;

@import "./_header";
@import "./_sidebar";
@import "./_ticket-list";
@import "./_forms";

main {
  margin: $headerHeight 0 0;

  .container {
    margin-top: calc(#{$headerHeight} + 1rem);
  }
}

.home {
  min-height: calc(100vh - #{$headerHeight});
  display: flex;
  align-items: center;
  flex-direction: column;

  > h1 {
    margin: 2rem 0 1rem;
  }

  p {
    margin-bottom: 2rem;
  }

  > img {
    height: 200px;
  }
}

.ticket-create {
  min-height: calc(100vh - #{$headerHeight});
  display: flex;
  flex-direction: column;
  justify-content: center;
}