<h1>Welcome to Hermes!</h1>
<h3>Login:</h3>
<form action="/login" method="post">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>
  <button type="submit">Login</button>
  {{#if errors }}
    <ul>
      {{#each errors }}
        <li>{{ this.msg }}</li>
      {{/each}}
    </ul>
  {{/if}}
</form>