<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-9 col-sm-12 align-self-center">
    <h2>Registro</h2>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-9 col-sm-12">

    <form action="/user" method="post">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nombre">
          </div>
          <div class="col">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Apellido">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="dni">DNI</label>
            <input type="number" class="form-control" id="dni" name="dni" placeholder="DNI">
          </div>
          <div class="col">
            <label for="birthDate">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="birthDate" name="birthDate">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="address">Direccion</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Tu direccion">
          </div>
          <div class="col">
            <label for="phone">Telefono</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Telefono">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="email@host.com">
      </div>
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="usuario">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="********">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar contraseña</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="********">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>

      {{#if errors }}
      <div class="form-group">
        {{#each errors }}
        <div class="alert alert-danger" role="alert">
          {{ this.msg }}
        </div>
        {{/each}}
      </div>
      {{/if}}
    </form>

  </div>
</div>