<div class="tickets">
  {{#if tickets }}
  <ul class="tickets__list">
    {{#each tickets }}
    <li onclick="showDetail(this)" data-id="{{ this._id }}">
      <h1>{{ this.title }}</h1>
      <small>ID: {{ this._id }}</small>
      {{#switch this.status}}
        {{#case '0'}}<span class="">Sin asignar</span>{{/case}}
        {{#case '1'}}<span class="">Por realizar</span>{{/case}}
        {{#case '2'}}<span class="">En proceso</span>{{/case}}
        {{#case '3'}}<span class="">Finalizado</span>{{/case}}
        {{#case '4'}}<span class="">Cancelado</span>{{/case}}
        {{#case '5'}}<span class="">En espera</span>{{/case}}
      {{/switch}}
    </li>
    {{/each}}
  </ul>

  <div id="ticket-detail" class="tickets__detail">
    <div class="wrapper">
      <section>
        <div>
          <h1 id="ticketId"></h1>
          <span id="ticketStatus"></span>
        </div>
        <div>
          <label>Solicitante:</label><span id="ticketUser"></span>
          <label>Categoria:</label><span id="ticketCategory"></span>
          <label>Prioridad:</label><span id="ticketPriority"></span>
          <label>Fecha:</label><span id="ticketDate"></span>
          <label>Sector:</label><span id="ticketSector"></span>
        </div>
      </section>
      <section>
        <h1 id="ticketTitle">Titulo Ticket</h1>
        <textarea name="" id="ticketDescription" cols="30" rows="10"></textarea>
      </section>
    </div>
  </div>
  {{else}}
  <h1>No hay tickets</h1>
  {{/if}}
</div>