header {
  position: fixed;
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #18608C;
  padding: .5rem 1rem;
  top: 0;
  z-index: 10; }
  header img {
    height: 40px; }

.sidebar {
  position: fixed;
  height: calc(100vh - 56px);
  width: 200px;
  display: flex;
  top: 56px;
  left: 0;
  background: #0D0D0D;
  flex-direction: column;
  padding: .5rem 1rem; }
  .sidebar + main {
    margin-left: 200px; }
  .sidebar .user {
    display: flex;
    align-items: center;
    margin: 1rem auto 0 0;
    padding: 0; }
    .sidebar .user:hover {
      text-decoration: none; }
    .sidebar .user > img {
      height: 40px;
      border-radius: 50%; }
    .sidebar .user__info {
      display: flex;
      flex-direction: column;
      margin-left: 10px; }
    .sidebar .user__name {
      font-size: 18px;
      line-height: 20px;
      text-transform: capitalize; }
    .sidebar .user__role {
      font-size: 14px;
      line-height: 20px; }
  .sidebar .actions {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #737373;
    margin-top: 1rem;
    padding: 1rem 0; }

.specialists {
  padding: 1rem; }
  .specialists__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .specialists__item {
    display: flex;
    align-items: center;
    padding: 1rem; }
    .specialists__item + li {
      border-top: 1px solid #737373; }
    .specialists__item span {
      width: 150px; }
    .specialists__item select {
      margin: 0 2rem; }

.tickets {
  display: flex; }
  .tickets__list {
    height: calc(100vh - 56px);
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    background: #737373;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto; }
    .tickets__list > .ticket {
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: #D4D4D4;
      border-bottom: 1px solid #737373;
      padding: .5rem;
      cursor: pointer; }
      .tickets__list > .ticket:hover {
        background: #e1e1e1; }
      .tickets__list > .ticket.active {
        background: #F2F2F2;
        pointer-events: none; }
      .tickets__list > .ticket.sub {
        border-left: 20px solid #737373; }
      .tickets__list > .ticket > h1 {
        font-size: 19px;
        text-transform: uppercase;
        margin: 0; }
      .tickets__list > .ticket .ids {
        display: flex;
        flex-direction: column;
        text-transform: uppercase; }
        .tickets__list > .ticket .ids > span {
          font-size: 15px; }
        .tickets__list > .ticket .ids > small {
          font-size: 12px; }
      .tickets__list > .ticket .stat {
        margin-top: auto; }
  .tickets__detail {
    flex: 1; }
    .tickets__detail .wrapper {
      display: none;
      flex-direction: column; }
      .tickets__detail .wrapper > section {
        padding: 20px; }
        .tickets__detail .wrapper > section + section {
          border-top: 1px solid #737373; }
    .tickets__detail.active .wrapper {
      display: flex; }
  .tickets .detail__header h1 {
    display: inline-block;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    margin-right: 2px; }
  .tickets .detail__header span {
    line-height: 28px;
    margin-left: 10px; }
  .tickets .detail__info > div {
    display: flex; }
    .tickets .detail__info > div > p {
      margin: 0 10px 0 0; }
      .tickets .detail__info > div > p > label {
        margin-right: 4px; }
      .tickets .detail__info > div > p > span {
        margin-right: 14px; }
  .tickets .detail__actions {
    text-align: right; }
  .tickets .status {
    font-weight: 500;
    text-transform: capitalize; }
    .tickets .status.sin-asignar {
      color: #A675CD; }
    .tickets .status.por-realizar {
      color: #D9A404; }
    .tickets .status.en-proceso {
      color: #448FF2; }
    .tickets .status.finalizado {
      color: #1BBF91; }
    .tickets .status.cancelado {
      color: #FF2D00; }
    .tickets .status.en-espera {
      color: #dd6000; }

form .range-value {
  display: block;
  opacity: .8; }

textarea {
  max-height: 220px;
  margin-bottom: 1rem;
  resize: none; }

main {
  margin: 56px 0 0; }
  main .container {
    margin-top: calc(56px + 1rem); }

.home {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  flex-direction: column; }
  .home > h1 {
    margin: 2rem 0 1rem; }
  .home p {
    margin-bottom: 2rem; }
  .home > img {
    height: 200px; }

.ticket-create {
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center; }
