<header class="navbar-dark">
  <a href="./">
    <img src="img/logo.png" alt="Hermes">
  </a>

  {{#if session}}
  <div class="navbar-nav">
    <a class="nav-link" href="/logout">Salir</a>
  </div>
  {{else}}
    {{#unless signup}}
    <a href="/signup" class="btn btn-secondary ml-auto">Registrarse</a>
    {{/unless}}
  {{/if}}
</header>