{{#if session}}
  <nav class="sidebar navbar-dark">
    <div class="navbar-nav">
      <a class="user" href="/usuario">
        <img src="/img/usuario.jpg" alt="My Profile">
        <div class="user__info nav-link">
          <span class="user__name">{{user.firstName}}</span>
          <span class="user__role">
          {{#switch user.type}}
            {{#case '-1'}}Empleado{{/case}}
            {{#case '0'}}Especialista{{/case}}
            {{#case '1'}}Jefe de sector{{/case}}
            {{#case '2'}}Jefe de area{{/case}}
          {{/switch}}
          </span>
        </div>
      </a>

      <div class="actions">
        <a class="{{#if active.ticket}}active {{/if}}nav-link" href="/ticket">Crear Ticket</a>
        {{#ifEquals user.type -1}}
          <a class="{{#if active.mistickets}}active {{/if}}nav-link" href="/mistickets">Mis Tickets</a>
        {{/ifEquals}}
        {{#ifEquals user.type 0}}
          <a class="{{#if active.mistickets}}active {{/if}}nav-link" href="/mistickets">Mis Tickets</a>
          <a class="{{#if active.asignados}}active {{/if}}nav-link" href="/asignados">Tickets Asignados</a>
        {{/ifEquals}}
        {{#ifEquals user.type 1}}
          <a class="{{#if active.mistickets}}active {{/if}}nav-link" href="/mistickets">Mis Tickets</a>
          <a class="{{#if active.asignados}}active {{/if}}nav-link" href="/asignados">Tickets Asignados</a>
          <a class="{{#if active.seguimiento}}active {{/if}}nav-link" href="/seguimiento">Seguimiento de Tickets</a>
        {{/ifEquals}}
        {{#ifEquals user.type 2}}
          <a class="{{#if active.mistickets}}active {{/if}}nav-link" href="/mistickets">Mis Tickets</a>
          <a class="{{#if active.seguimiento}}active {{/if}}nav-link" href="/seguimiento">Seguimiento de Tickets</a>
          <a class="disabled nav-link" href="/#">Generar Reportes</a>
        {{/ifEquals}}
      </div>
    </div>
  </nav>
{{/if}}