{{#if session}}
  <nav class="sidebar navbar-dark">
    <div class="navbar-nav">
      <a class="user" href="/usuario">
        <img src="/img/usuario.jpg" alt="My Profile">
        <div class="user__info nav-link">
          <span class="user__name">{{user.firstName}}</span>
          <span class="user__role">Rol</span>
        </div>
      </a>

      <div class="actions">
        <a class="nav-link" href="/ticket">Crear Ticket</a>
        <a class="nav-link" href="">Mis Tickets</a>
        <a class="nav-link" href="">Tickets Asignados</a>
        <a class="nav-link" href="">Seguimiento de Tickets</a>
      </div>
    </div>
  </nav>
{{/if}}