{{#if session}}
  <nav class="sidebar navbar-dark">
    <div class="navbar-nav">
      <a class="user" href="/usuario">
        <img src="/img/usuario.jpg" alt="My Profile">
        <div class="user__info nav-link">
          <span class="user__name">{{user.firstName}}</span>
          <span class="user__role">Rol</span>
        </div>
      </a>

      <div class="actions">
        <a class="{{#if active.ticket}}active {{/if}}nav-link" href="/ticket">Crear Ticket</a>
        <a class="{{#if active.mistickets}}active {{/if}}nav-link" href="/mistickets">Mis Tickets</a>
        <a class="{{#if active.asignados}}active {{/if}}nav-link" href="/asignados">Tickets Asignados</a>
        <a class="{{#if active.seguimiento}}active {{/if}}nav-link" href="/seguimiento">Seguimiento de Tickets</a>
      </div>
    </div>
  </nav>
{{/if}}